<div class="private-square span3 offset0">
  <h1>
  
    Easy to find "Do It Yourself" Projects
    
 </h1>
  
  <%= link_to 'View Some', posts_path, :class => 'btn btn-info btn-large'  %>
  <br/>
 
  </div>
<br style="clear:both;"/>
<br />

 </div>   